<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Organizations</title>

    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="assets/js/jquery-3.4.1.js"></script>
    <script src="assets/js/bootstrap.js"></script>
</head>
<body class="bg-light">
    <div id="app" style="width:100%">
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#/">Cloud Provider Service</a>
            <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
            <ul class="navbar-nav px-3">
              <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign out</a>
              </li>
            </ul>
          </nav>
      <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <span data-feather="home"></span>
                        Profile <span class="sr-only">(current)</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#/users">
                        <span data-feather="user"></span>
                        Users
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#/organizations">
                        <span data-feather="users"></span>
                        Organizations
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <span data-feather="layers"></span>
                        Virtual Machines
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <span data-feather="database"></span>
                        Drives
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <span data-feather="folder"></span>
                        VM Categories
                      </a>
                    </li>
                  </ul>
      
                  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Saved reports</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                      <span data-feather="plus-circle"></span>
                    </a>
                  </h6>
                  <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <span data-feather="file-text"></span>
                        Current month
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <span data-feather="file-text"></span>
                        Last quarter
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <span data-feather="file-text"></span>
                        Social engagement
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <span data-feather="file-text"></span>
                        Year-end sale
                      </a>
                    </li>
                  </ul>
                </div>
              </nav>
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Organizations</h1>
              <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                  <button class="btn btn-sm btn-outline-secondary">Share</button>
                  <button class="btn btn-sm btn-outline-secondary">Export</button>
                </div>
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                  <span data-feather="calendar"></span>
                  This week
                </button>
              </div>
            </div>
            
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addOrganizationModal" style="margin: 15px 0;">
                    Add organization
            </button>

            <table border="1" class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Logo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="#" data-toggle="modal" data-target="#viewOrganizationModal">Example</a></td>
                        <td>Example</td>
                        <td>Example</td>
                    </tr>
                    <tr>
                        <td><a href="#" data-toggle="modal" data-target="#viewOrganizationModal">Example</a></td>
                        <td>Example</td>
                        <td>Example</td>
                    </tr>
                    <tr>
                        <td><a href="#" data-toggle="modal" data-target="#viewOrganizationModal">Example</a></td>
                        <td>Example</td>
                        <td>Example</td>
                    </tr>
                    <tr>
                        <td><a href="#" data-toggle="modal" data-target="#viewOrganizationModal">Example</a></td>
                        <td>Example</td>
                        <td>Example</td>
                    </tr>
                    <tr>
                        <td><a href="#" data-toggle="modal" data-target="#viewOrganizationModal">Example</a></td>
                        <td>Example</td>
                        <td>Example</td>
                    </tr>
                    <tr>
                        <td><a href="#" data-toggle="modal" data-target="#viewOrganizationModal">Example</a></td>
                        <td>Example</td>
                        <td>Example</td>
                    </tr>

                </tbody>
            </table>

            <div class="modal fade" id="addOrganizationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add organization</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form
                        id="addOrganizationForm"
                        @submit="submitForm"
                        method="POST"
                        novalidate="true"
                    >
                        <div class="modal-body">
                            <p v-if="errors.length">
                                <b>Please correct the following error(s):</b>
                                <ul>
                                    <li v-for="error in errors">{{ error }}</li>
                                </ul>
                            </p>
                            <label for="name">Name</label>
                            <div class="input-group">
                                <input
                                    id="name"
                                    class="form-control"
                                    v-model="name"
                                    type="text"
                                    name="name"                            
                                >
                            </div>
                            <label for="description">Description</label>
                            <div class="input-group">
                                <input
                                    id="description"
                                    class="form-control"
                                    v-model="description"
                                    type="text"
                                    name="description"
                                >
                            </div>
                            <label for="logo">Logo</label>
                            <div class="input-group">
                                <input
                                    id="logo"
                                    class="form-control-file"
                                    @change="processFile"
                                    type="file"
                                    name="logo"
                                >
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button
                                class="btn btn-secondary"
                                type="button"
                                data-dismiss="modal"
                            >
                                Close
                            </button>
                            <button
                                class="btn btn-primary"
                                type="submit"
                            >
                                Add
                            </button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
          </main>
        </div>
      </div>
    </div>

    <!-- Icons -->
   <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
   <script>
     feather.replace()
   </script>
</body>
</html>